body {
    font-family: Arial, sans-serif;
}

.container {

    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
}

.box {
    width: 100%;
    max-width: 600px;
    /* Adjust max-width as needed */
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
}

.first-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 600px;
    /* Adjust max-width as needed */
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;

}

.second-box {
    width: 95%;
    max-height: 80vh; /* Adjust max-height as needed */
    overflow-y: auto;
    margin: auto;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 10px;
border-color: solid #da6d25;
}

/* button adding */
.bookmarkBtn {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.349);
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
}

.IconContainer {
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, rgb(12, 15, 213), rgb(14, 205, 100));
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: 0.3s;
}

.icon {
    border-radius: 1px;
}

.text {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    transition-duration: 0.3s;
    font-size: 1.04em;
    margin-left: 2px;
}

.bookmarkBtn:hover .IconContainer {
    width: 90px;
    transition-duration: 0.3s;
}

.bookmarkBtn:hover .text {
    transform: translate(10px);
    width: 0;
    font-size: 0;
    transition-duration: 0.3s;
}

.bookmarkBtn:active {
    transform: scale(0.95);
    transition-duration: 0.3s;
}

/* button adding */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.delete-btn {
    float: right;
    background-color: #ff6347;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}